*{
    text-decoration:none;
    padding:0;
    margin:0;
    box-sizing:border-box;
    text-transform:capitalize;
}
html{
 overflow-x:hidden;
 scroll-behavior: smooth;
 font-size:62.3%;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 --color:#7b8589;
}
section{
    padding:2rem 9%;
    background-color:#c9d6e7;
 
     
}   
 header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
  display:flex;
 justify-content:space-between;
background-color: #b2c7e1;
padding:1.9rem;
box-shadow:1rem 1rem 1rem #9eb0c4;
z-index:1000;
}
 header h3{
    font-size: 2.6rem;
    color:#434646 ;
    font-weight: 600;

}
nav{
    font-size: 1.8rem;
}
 nav a{
    padding-right:1rem;
    color:#434646 ;
}
 .icons{
    font-size: 1.8rem;
    padding-right:1rem;
}
.icons a{
    color:#434646;
    padding-right:3.5rem;
}
#check,.fa-bars {
display:none;
}
 .icons a:hover{
color:var(--color);
}
 nav a:hover{
    color:var(--color)
}

   
   
    .intro{
     
        height: 100vh;
        background-size:cover;
        background-position: center;
        background-attachment: fixed;

    }   

    .intro h2{
        padding-top:3rem;
        font-size: 1.5rem;
        width:50%;
        color:#434646;
        text-transform: lowercase; 
        margin-top:15rem;
    }
    .intro .image{
        width:40rem;
        margin-top:15rem;
       background-color: #b2c7e1;
       border-radius: 50%;
       box-shadow: 0 0 2rem #999;
    } 

.intro .image img{
    width:100%;
    border-radius: 50%;
    padding:1rem;
}

.intro .row{
    display:flex;
   align-items: center;
   justify-content: space-between;
   flex-wrap:wrap;

}
.intro .row h2{
    flex:1 1 40rem;
 margin-right:4rem;
}

.video .hh{
    font-size: 4rem;
    color:#434646;
    text-align:center;
    background-color: #b2c7e1;
    border-radius: 2rem;
}

.video .row{
    display: flex;
    align-items:center;
    flex-wrap: wrap;
    gap:1.5rem;
   
}
.video .row .vedio-container {
 flex:1 1 35rem;
 margin-top:2rem;
 background-color: #b2c7e1;
 
 box-shadow: 0 0 2rem #999;
 position:relative;
}

.video .row .vedio-container video{
    width:100%;
    padding:1rem;

}
.video .row .vedio-container  h2{
    position:absolute;
    top:50%;
   width: 100%;
    text-align: center;
    background:#9cbde5 ;
    padding:1rem;
  font-size: 2rem;
  mix-blend-mode: screen;
color:#2f3030;
}
.video .row .content{
    flex:1 1 35rem;
}
.video .row .content h2{
    color:#434646;
    font-size: 2rem;
   margin-bottom: 1.3rem;
}
.video .row .content .p1{
    font-size: 1.5rem;
    color:#6d7274;
    line-height: 2.2rem;
}

.video .row .content .p2{
    font-size: 1.5rem;
    color:#6d7274;
    line-height: 2.2rem;
    margin-top: 2rem;
}

.video .row .content input{
    background: #2f3030;
    color:#c3c5c5;
    padding:1rem 4rem 1rem 4rem;
    margin-top:1rem;
    border-radius:2rem;
    border:#434646 ;
}

.video .row .content input:hover{
 background-color: var(--color);
}
.icons{
    padding: 2rem 0;
}

.icons .row .icon1 img{
width:5rem;
}
.icons .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top:10rem;
}
.icons .row .icon1{
  
    display:flex ;  
    width: 30rem;
    border:1rem solid #b2c7e1;
    margin:2rem;
    color:#333;
 gap:1.5rem;
    padding:1rem;
}


.icons .row .icon1 .text h4{
 font-size: 1.6rem;
}
.icons .row .icon1 .text span{
    font-size: 1.2rem; 
}

.product .box-container{
    display:flex;
    flex-wrap: wrap;
    align-items: center;

}

.product .box-container .box{
    flex:1 1 20rem;
}
.product .box-container .box .image{
    padding:1rem;
    background-color: #b2c7e1;
    box-shadow: 1rem 1rem 2rem #999;
}
.product .box-container .box .image{
    width:20rem;
}

.product .box-container .box .image img{
    width:100%;
}

.product h2{
    font-size: 4rem;
    color:#404040;
    text-align:center;
    margin-bottom:2rem;
    background-color:#b2c7e1;
    border-radius: 2rem;
}

.product .box-container .box .content{
    margin:2rem 0 4rem 0;
}
.product .box-container .box .content h3{
font-size: 2rem;
text-align:center;
color:#404040;
margin-bottom: 1rem;
}

.product .box-container .box .content h4{
    text-align: center;
    color:#6e6c6c;
    font-size: 1.4rem;
}
.product .box-container .box .content h4 span{
    text-decoration: line-through;
    padding-left:0.5rem;
    font-size:1rem;
}
.product .box-container .box .image {
    position: relative;
}
.product .box-container .box .image .icons{
 position: absolute;
  bottom:0; 
  right: 0;
  left:0; 
  display:none;
  background-color: #b2c7e1;
  padding-left:3rem;

 
}
.product .box-container .box:hover .image .icons{
    display:flex;
}

.review .box-container{
    display:flex;
    flex-wrap: wrap;
   align-items: center;
   gap:1.5rem;
}
.review .box-container .box {
    flex:1 1 20rem;
    border:0.7rem solid #b2c7e1;
    box-shadow:0 0 2rem #333;
    padding:2rem;
}
.review .box-container .box .profile img{
    width:7rem;
    height: 7rem;
   border-radius:50%;
   border:0.5rem solid #b2c7e1;
}
.review .box-container .box .stars{
font-size: 1.3rem;
color:#333;
margin-bottom:1rem;
}
.review .box-container .box p{
    font-size: 1.3rem;
    color:#333;
}
.review .box-container .box .profile{
    display:flex;
    gap:1.5rem;
    margin-top:2rem;
}
.review .box-container .box .profile .info{
    margin-top:1rem;
}
.review .box-container .box .profile .info h2{
    color:#333;
}
.review .box-container .box .profile .info span{
    color:#333
}

.review .h{
    color:#333;
    font-size: 3rem;
    background-color: #b2c7e1;
    padding:1.5rem;
    margin:3rem 0 3rem 0;
    text-align:center;
    border-radius: 2rem;
}
.links .container{
    display:flex;
    flex-wrap:wrap;
    align-items: center;

}
.links .container .link{
    flex:1 1 15rem;
}

.links .container .link h2{
 color:#333;
 margin-top:2rem;
 margin-bottom:1rem;
}
.links .container .link a{
    display:block;
    font-size: 1.4rem;
    color:#333;
    margin-bottom:0.7rem;
}
.container{
    margin-left:4rem;
}

.links .me{
   margin-top:3rem;

    margin-right:5rem;
    font-size: 1.5rem;
    color:#333;
   text-align: center;;
}




@media(max-width:695px){
     header nav {
        display:none;
        position: absolute;
        top:100%;
        right:0;
        left:0;  
        background-color: #dbe9f3;
    }  
     header nav a{
        display: block; 
        padding:1rem;
        border:0.5rem solid #b2c7e1;
        margin:1.5rem;
        box-shadow:1rem 1rem 1rem #9eb0c4;
      
    }
    .links .me{
        margin-top: 1rem;
    margin-bottom:1rem;}
    .fa-bars {
    display:block;
    padding-top:1rem;
    font-size: 2rem;
    cursor:pointer;
   }
    #check:checked ~ nav{
    display: block;
   }


    .intro .image{
    margin-top:1rem;
    margin-right:28%;
} 
.product{
    padding:0;
}}

@media(max-width:430px){
.product{
    padding:0;
}

}
@media(max-width:1014px){
    .intro h2{
      
        width:40%;
       
    }
    
    .intro .image{
        margin-top:2rem;
        margin-left:11%;
    } 
    
    .intro h2{
        margin-top:8rem;
    }
  
    }


